* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background-image: url("123.jpg");
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #000;
	text-align: center;
	border-bottom: none;
	border-radius: 30px 30px 0px 0px;
	padding: 20px;
	opacity: 0.8;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	color: grey;
	background: #000;
	border-radius: 0px 0px 30px 30px;
	opacity: 0.8;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 400px;
    color: #fff;
    font-size: 16px;
}
.btn {
	border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
p{
	text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: darkgrey;
}

a{
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: darkgrey;
}
a:hover
{
    color: #ffc107;
}